* {
    margin: 0;
    padding:0;
    box-sizing: border-box  ;
    
}

.head{
    display: flex;
    padding: 80px;
    justify-content: center;
    align-items: center;
    padding-left: auto;
    padding-right: auto;
 
}

.container{
    background: linear-gradient(to right, lightblue, white);
    border-radius: 12px;
    box-shadow: 0px 8px 16px rgb(0, 0, 0);
    padding: 20px 30px  ;
    text-align: center;
    width: 90%;
    max-width: 700px;
    
   
}

h1{
font-size: 24px;
margin-bottom: 20px;
color:rgb(43, 39, 39)
}

.form-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom:20 px

}
input {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid lightblue ;
    flex: 1;
    font-size: 16px;
}

button[type="submit"] {
    padding: 20px 30px;
    border-radius: 8px;
    border: none;
    background:blue;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}
button[type="button"]{
    padding: 20px 30px;
    border-radius: 8px;
    border: none;
    background:rgb(202, 32, 32);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}
button:hover{
    background: rgb(1, 1, 49);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
thead tr{
    color: rgb(8, 7, 7);
    background: linear-gradient(to right,gray, rgb(237, 235, 235))
   
}



td, td{
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

tr:nth-child(odd) {
    background: #f9f9f9;
}
tr:nth-child(even) {
    background:lightblue;
}

input[type="checkbox"]{
    transform: scale(1.5);
    cursor: pointer;
}

.item-riscado{
    text-decoration: line-through;
}