body{
    margin: 20px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    padding-left: auto;
    padding-right: auto;

}
.header{

    text-align: center;
    display: flex;
   margin: 24px;
   font-size: 24px;
   padding:0px ;

   
}


.container{

    text-align: center;
    display: flex;
   margin: 60px;
   gap: 20px;
   font-size: 20px;
    padding-left: auto;
    padding-right: auto;

   
}

.buttons{
     padding-left: auto;
    padding-right: auto;
    display: flex;
    flex-direction: row;
   
}
button{
    margin: 15px;
    width: auto;
    display: flex;
    border: none;
    color: white;
    background-color: blue;
    box-shadow: 0px 4px 8px black;
    padding: 10px;
    height: auto;
    font-size: 20px;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    
}

button:hover{
    background-color: darkblue;
}
.result{
    display: flex;
    font-size: 20px;
    text-align: center;
    padding-right: auto;
    padding-left: auto;


}

.form-box {
    margin:200px 450px 140px 450px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center ;
    flex-direction: column;
    gap: 2px;
    box-shadow: 0px 4px 8px gray;
    background: linear-gradient(rgb(82, 76, 76), rgb(109, 107, 107), rgb(166, 163, 163)) ;
    border-radius: 10px;
     padding-left: auto;
    padding-right: auto;
}